*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-family: Arial;
    border:border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

}
 nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
 }
 nav img{
    width: 100px;
    border-radius:4px;
 }
 .nav-links{
    flex: 1;
    text-align: center;
 }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
   .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
  }
   .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
   }
   .nav-links ul li:hover::after{
    width: 100%;
   }
   .nav-links .btn{
width:130px;
height:40px;
font-weight:1000;
background:rgba(48, 219, 241, 0.4);
border:none;
border-radius:30px;
cursor:pointer;
transition:.3s ease;

#registerBtn{
   margin-left:15px;
}

   }

   .nav-search{
justify-content: space-evenly;
display:flex;
height:40px;
width:400px;
border-radius:4px;
   }
   .nav-search:hover{
    border:2px solid orange;
   }
.search-select{
   background-color: #f3f3f3;
   width:50px;
   text-align:center;
   border-top-left-radius:4px;
   border-bottom-left-radius:4px;
   border:none;
}
   .search-input{
      font-size:1rem;
      width:400px;
      border:none; 
   }
   .search-icon{
      width:50px;
      display: flex;
      align-items: center; 
      justify-content: center;
      background-color: #febd68;
      color:#0f1111;
      font-size: 1.5rem;
      border-top-right-radius:4px;
   border-bottom-right-radius:4px;

   }
   /* .course{
      align-items: center;
      justify-content: center;
      display:flex;
   } */
   /* .puc{
      display:flex;
   } */